@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-darkGraphite text-cloudGray;
  }
  .page-container {
    @apply w-full max-w-[1440px] mx-auto px-5;
  }
}

@layer components {
  .img-cover {
    @apply w-full h-full object-cover;
  }
  .loadingSpin {
    @apply w-[100px] h-[100px] animate-spin rounded-full border-t-[10px] border-t-transparent border-[10px] border-solid border-blue-500;
  }
  .verical-line {
    @apply absolute top-0 translate-x-5 -z-10 w-[2px] rounded-full h-full bg-text_3;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 3px;
  background-color: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background-color: #475be8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

/* Text ... */
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #475be8;
  cursor: pointer;
  border-radius: 100rem;
  &:hover {
    background-color: rgb(71, 91, 232, 0.7);
  }
}

.textareaStyle {
  width: 100%;
  min-height: 100px;
  border-radius: 12px;
  color: white;
  outline: none;
  border: 1px solid #4b5264;
  background-color: transparent;
  resize: none;
  transition: all 0.2s linear;
  min-height: 100px;
  padding: 12px;
  &:focus {
    border-color: #475be8;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Custom swiper variables */
:root {
  --swiper-navigation-size: 15px !important;
  --swiper-theme-color: #475be8 !important;

  /* pagination */
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #ccc;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-slide img {
  border-radius: 5px !important;
}

/* Custom swiper button */
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: #475be8;
  right: 10px;
  padding: 20px;
  border-radius: 100rem;
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2639c9;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 600;
}
